:root  {
	/* --background-primary: rgb(255, 255, 255);
	--background-secondary: rgb(201, 201, 201);
	--background-tertiary:#F2F2F2;
	--font-primary:rgb(19, 19, 19);
	--font-secondary: rgb(85, 85, 85);
	--color-one: #9E2AD0; */
	/* --color-two: #1EC0A2; */
	/* --headings-font: 'Roboto Mono', monospace; */
	/* --paragraph-font: 'Source Sans Pro', sans-serif; */
	/* --paragraph-font: 'Poppins', sans-serif; */
	--paragraph-font: 'Roboto', sans-serif;
	--headings-font: 'Poppins', sans-serif;
}

[data-theme = "light"] {
	--background-primary: rgb(255, 255, 255);
	--background-secondary: rgb(201, 201, 201);
	--background-tertiary:#F2F2F2;
	--font-primary:#131313;
	--font-secondary: #555555;
	--color-one: #9E2AD0;
	/* --color-two: #1EC0A2; */
}

[data-theme = "dark"] {
	--background-primary: #131336;
	--background-secondary:#000000;
	--background-tertiary: #000925;
	/* --background-tertiary: #00134B; */
	--font-primary: #ffffff;
	--font-secondary: #C5D4FF;
	--color-one: #2382CF;
	/* --color-two: #1EC0A2; */
	/* --color-two: rgb(255, 166, 0); */
}